<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>TV Remote needs to access your local network to discover and control Android TV devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_androidtvremote2._tcp.</string>
		<string>_androidtvremote._tcp.</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
</dict>
</plist>
